<template name="addExperience">
<div class="container" style="margin-top: 200px">
<label class="control-label" for="title">Image to display in search</label>
     <input type="file" class="fileUpload custom-file-input">
     {{>imageView}}
<label class="control-label" for="title">Meeting Location</label>
  <div class="location-wrapper"><input type="text" id="formLocationInput" class=" form-control formLocation location input-large input-contrast" autocomplete="off" name="location" placeholder="Meeting location address or nearby landmark"/> 
               </div>
  <!--{{> quickForm collection="Experience2" id="insertExperienceForm" type="method" meteormethod="post"}}!-->

   {{#autoForm collection="Experience2" id="insertExperienceForm" type="method" meteormethod="post"}}
    <fieldset>
      {{> afQuickField name='title'}}
{{> afQuickField name='description' rows=6}}
      {{> afQuickField name='hourlyRate'  rows=6}}
    </fieldset>
  <button type="submit" class="btn btn-primary submitExperience">Submit</button>
  {{/autoForm}}
  </div>

</template>

<template name="imageView">
  <div class="imageView">
    {{#with image}}
      <div class="uploadedImages">
        <a href="{{this.url}}" target="_blank"><img src="{{this.url}}" alt="" class="thumbnail" /></a>
      </div>
    {{/with}}
  </div>
</template>