<template name="layout">
<img src="/Logo.png" class="logo">
 {{> header}}

  <div class="container-fluid">
    {{> errors}}

    <div id="main" class="row">

      {{> yield}}
          
    </div>
  </div>


{{ > yield region='footer'}}


</template>


<template name="footer">
<footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy; Day With A Local 2014</span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        <li><a href="https://twitter.com/DayLocal"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="https://www.facebook.com/daywithalocal"><i class="fa fa-facebook"></i></a> </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li><a href="{{pathFor 'termsandconditions'}}">Terms of Service and Privacy Policy </a></li>
                  {{#if currentUser}}
                         <li><a class='logOut' >Log out</a></li>
                        {{/if}}

                    </ul>
                </div>
            </div>
        </div>
    </footer>
</template>