<template name="nearbyExperiences">

 <div class="posts infinite-container {{removeWookMarkOnSmallScreenPart2}}" style="margin-top: 100px;">
{{#if none}}

<div class="container" style="margin-top:30px;">
   <div class="page-header text-center">
  <h1>There are no results for this search. Try another Location.</h1>
  <br>
</div>
</div>
{{/if}}


{{#each experience}}

         <div class="myElements" style="display: inline-block;">

     <div class="brdr bgc-fff pad-10 box-shad btm-mrg-20 property-listing">
                        <div class="media">
                
                             
                             <a href="{{pathFor 'experiencePage'}}" target="_blank" >   {{#with image}}<img src="{{this.url}}" alt="" class="teaserImage"/>  {{/with}}</a>
                       

                            <div class="clearfix visible-sm"></div>

                            <div class="media-body fnt-smaller">
                                <a href="#" target="_parent"></a>

                                <h4 class="media-heading">
                                  <a href="{{pathFor 'experiencePage'}}" target="_parent" class="toDetails" >{{title}}<small class="pull-right">{{hourlyRate}}/hr</small></a></h4>

                                <p class="limitLines">{{description}}</p><span class="fnt-smaller fnt-lighter fnt-arial">{{location}}</span>
                            </div>
                        </div>
                    </div><!-- End Listing-->

              </div>
     {{/each}}

<!--{{/masonryContainer}}!-->
  
  </div>


</template>