
<template name="header">
<nav class='navbar navbar-default navbar-fixed-top {{permDark}}'>
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll navLink blackNavbarLinks {{permWhiteText}}" href="{{pathFor 'initialMenu'}}">Day With A Local</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                {{#if searchAppear}}
                    <li >
                        <div class="location-wrapper"><input type="text" id="pac-input3" class="form-inline-padding location input-large input-contrast" autocomplete="off" name="location" placeholder="Where do you want to go?"/> 
               </div>
                    </li>
                       {{/if}}
                    <li>

                   
                     {{#if searchAppear}}
                        <button   href="{{pathFor 'nearbyExperiences'}}" class="page-scroll navLink whiteNavbarLinks search-button exploreButton btn btn-search-primary  btn-large" >Search Experiences</button>
{{else}}
 <a class="page-scroll navLink  blackNavbarLinks" href="{{pathFor 'nearbyExperiences'}}">Explore Experiences</a>
                         {{/if}}
                    </li>
                    <!--<li>
                        <a class="page-scroll" href="#about">Help</a>
                    </li>!-->
                     {{#if searchAppear}}
                                        {{else}}
                     <li>

          {{#if currentUser}}
                        <a class="page-scroll navLink blackNavbarLinks" href="{{pathFor 'account'}}">Account</a>
                        {{else}}
                         <a class="page-scroll navLink blackNavbarLinks" href="{{pathFor 'singlePageLogin'}}">Sign Up/In</a>
     

                                  {{/if}}
                    </li>

                    <li>
                    {{#if guide}}
                     <a class="page-scroll navLink blackNavbarLinks btn-success btn-sm becomeGuide" style="
                   
             
                    
    padding-top: 5px;" href="{{pathFor 'addExperience'}}">Add an Experience</a>
                    {{else}}
                        <a class="page-scroll navLink blackNavbarLinks btn-success btn-sm becomeGuide" style="
                   
             
                    
    padding-top: 5px;" href="{{pathFor 'guideSignUp'}}">Become a Tour Guide</a>
    {{/if}}
                    </li>
                      {{/if}}
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
</template>
