<template name="pref">

<div class="list-group prefs transparent-header">
  <a href="#" class="list-group-item">Username: {{userName}}</a>
   <a href="#" class="list-group-item">Name: Not yet Verified </a>
  <a href="#" class="list-group-item">Email: {{email}}</a>
  <a href="#" class="list-group-item">School: {{school}} </a>
   <a href="#" class="list-group-item">Tagging Info: 	<input type="name" class="form-control" id="firstName" placeholder="First name" value="{{first}}">	<input type="name" class="form-control" id="nickName" placeholder="Nickname">		<input type="name" class="form-control" id="lastName" placeholder="Last name"></a>



  <a href="#" class="list-group-item"> <button class='verifyName btn btn-success'>Enable Commenting with Real Name</button> </a>
  <a href="#" class="list-group-item"> <button class='logOut btn btn-danger' >Log out</button> <button class='removeAccount btn btn-danger' >Delete Account</button> </a>
<a href="#" class="list-group-item"><strong>Remember:</strong> Confession submissions are always anonymous. Comments are anonymous by default but you can use your username or real name if you want.</a>
</div>

            

                       

                        
    
</template>