<template name="postsList">
<a class="popup-with-form" href="#test-form" style="display:none;"></a>

<div id="content" >

  <div class="posts infinite-container {{removeWookMarkOnSmallScreenPart2}}">
<!--<a class="popup-youtube" href="http://www.youtube.com/watch?v=0O2aH4XLbto">Open YouTube video</a><br>!-->

<!--{{#masonryContainer columnWidth=15 transitionDuration="0.4s" gutter=2 id="MasonryContainer" }}!-->


     {{#each postsWithRank}}

         <div class="{{removeWookMarkOnSmallScreen}}">
        {{> postItem}}
              </div>
     {{/each}}

<!--{{/masonryContainer}}!-->


  
  </div>
  {{#if nextPath}}
      <a id='example-offset-pixels' class="load-more" href="{{nextPath}}">Load more</a>
      <!-- link that opens popup -->
    {{/if}}
  </div>



<!-- form itself -->
<!--<form id="test-form" class="mfp-hide white-popup-block">!-->
<form id="test-form" >
  <div class= "post-confession-box">
{{> postSubmit}}
</div>
</form>
</template>
