<template name="experiencePage">


<!-- Begin Body -->
<div class="container" style="margin-top:30px;">
<div class="page-header text-center">

  <h1>{{title}}</h1>
  <br>
  <small>{{hourlyRate}}</small>
</div>
  <div class="row">
  
          <div class="col-md-9">
               {{#with image}}
            <img src="{{this.url}}" alt="" class="img-center"/>
       {{/with}}
   
        <div class="experience-description">
          <br>
                     <p>{{description}}</p>
                       <br>
           </div>
                
                
          </div> 
            <div class="col-md-3" id="rightCol">
                
        <div class="well"> 
               
      {{#with guide}}
             <div class="text-center">
        <p>{{firstName}} {{lastName}}</p>
           </div>
        {{#with profileImage}}
            <img src="{{this.url}}" alt="" class="img-center"/>
       {{/with}}
        {{/with}}
         {{#with guide}}
        {{description}}
        <div>
         <a href="{{pathFor 'guidePage'}}"><button  href="{{pathFor 'guidePage'}}" class="btn btn-success  btn-large" style="margin:10px;">See Full Profile</button>
</a>
          <button    class="btn btn-primary  btn-large" style="margin:10px;">Contact {{firstName}}</button>
           </div>
           {{/with}}
          </div>

          </div> 
    </div>
</div>

</template>

