<template name="postEdit">
  <form class="main">
    <div class="control-group">
        <label class="control-label" for="url">Reason for Removal</label>
        <div class="controls">
            <input name="url" type="text" value="Reason" placeholder="Reason"/>
        </div>
    </div>

    <div class="control-group">
        <div class="controls">
            <input type="submit" value="Request Removal" class="btn btn-primary submit"/>
        </div>
    </div>
    <hr/>
  </form>
</template>